/* Reset default browser styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Inria Serif;
}

/* Sidebar styles */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: #f1f1f1;
}

.sidenav a {
  padding: 13px 0px 6px 18px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
  border: none;
  font-family: Inria Serif;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #1A242F; /* Hover/active color */
  border-left: 4px solid #E74C3C; /* Active item indicator */
  padding: 20px 20px;
}

/* Dropdown styles */
.dropdown-btn {
  display: none;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-container a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-btn:checked + .dropdown-container {
  display: block;
}

/* Additional styles for better appearance */
.dropdown-btn + label {
  cursor: pointer;
}

.dropdown-btn:checked + label {
  background-color: #f1f1f1;
}
